@media only screen and (max-device-Width:900px) and (min-device-Width:400px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Bree Serif', serif;
        font-family: 'Roboto Mono', monospace;
        font-family: 'Ubuntu', sans-serif;
    }

    #introsection{
        font-size: 55px;
    }

    #introsection div.small {
        font-size: 44px;
        padding: 5px;
    }

    #missionsection{
        height: 800px;
    }

    #missionsection h2{
        font-size: 80px;
    }

    #missionsection h3{
        font-size: 35px;
    }

    #missionsection p{
        font-size: 25px;
    }

    #cardContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #cardContainer .card {
        width: 90%;
        height: auto;
        padding-bottom: 10px;
    }

    #sponsorsection h2{
        margin-bottom: 10px;
        font-size: 80px;
    }

    #sponsors{
        height: auto;
    }

    #sponsors .sponsorbox{
        width: 23%;
        margin: 9px;
        height: 163px;
    }
}